body{
    background-color:#293a80;
    font-family: 'Titillium Web', sans-serif;
}

.nav-item{
    margin: 0px 20px 0px 20px;
    color: #fff;
}

.nav-link{
    cursor: pointer;
}

.navbar-brand{
    font-size:30px;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

.questions{
    color:white;
}

.logo{
    width: 50px;
    margin: 0px 15px 0px 0px;
}

h1{
    color: #fff;
    font-size: 2em;
    text-align: center;
}

.navbar{
    /* background-color:#f8c901; */
    color: #fff;
}

.title{
    color: #ffdc34;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
}

.p_title {
    color: white;
    font-size: 1em;
    text-align: center;
    font-weight: 200;
}

.section_title{
    color: #ffdc34;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
}

.section_subtitle {
    color: white;
    font-size: 2em;
    text-align: center;
    font-weight: 200;
}

.sponsor_prop_div {
    
    /* margin: 20px auto; */
    
}

.sponsor_prop {
    background-color: #ffdc34;
    border-radius: 20px;
    padding: 30px 0;
    margin: 50px 250px;
    text-align: center;
    font-size: 1em;
    font-weight: 300; 
}

.faq_style {
    padding: 0 100px;
}

.target{
    width:100%;
    /* border: 1px solid black; */
    background-color: transparent;
    padding: 40px 55px 0px 55px;
    margin:0;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
}

.card{
    background-color: transparent;
    /* border:white 1px solid; */
    border:none;
    color:white;
    margin:1px 0px 0px 0px;
    border-radius:10px;
}

.card-header{
    background-color: transparent;
    border:none;
    color:white;
    padding:10px;
}

.card-body{
    background-color: transparent;
    border:none;
    color:white;
    padding:0px 45px 5px 45px;
}

.about_us{
    text-align: center;
    color: #fff;
}

.about_us_p {
    font-family: 'Titillium Web', sans-serif;
}

hr{
    background-color:white;
    width: 90%;
    height:1px;
}

.sponsor-logos{
    /* border: 3px solid red; */
    display:flex;
    flex-wrap:wrap;
}

.sponsor-logo{
    flex:1;
    width: 200px;
    /* border:3px solid green; */
    margin: 15px 20px 15px 20px;
}

<<<<<<< Updated upstream
.card{
    background-color: transparent;
    /* border:white 1px solid; */
    border:none;
    color:white;
    margin:1px 0px 0px 0px;
    border-radius: 40px;
}

.card-header{
    background-color: #D6CFCE;
    box-shadow: black 3px 3px;
    border-radius: 25px;
    color: #000;
    padding:10px;
    margin: 30px 20px;
}

.card-body{
    background-color: transparent;
    border-radius: 25px;
    color:white;
    padding:0px 45px 5px 45px;
}


.questions{
    /* color:white; */
    text-decoration: none;
}

.questions:hover{
    color: #293a80;
    text-decoration: none;
}

.button_area {
    padding: 150px 0;
    text-align: center;
    position: relative;
}

.apply_button {
    color: #fff;
}

.volunteer_button {
    color: #fff;
=======
.footer{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #FFCE00;
    height: 65px;
    font-size: 20px;
    padding:25px 20px 25px 10px;
}

.footer-right{
    flex:15;
    text-align: right;
    position: relative;
    justify-content:center;
}

.footer > span > a{
    color:black;
    text-decoration: none;
}

.footer > span > a:hover{
    color:white;
    text-decoration: none;
}

.footer a:hover{
    color:white;
    text-decoration: none;
}

.footer-left{
    flex:1;  
    text-align: center;
    justify-content:center;
    font-size: 25px;
    color:black;
>>>>>>> Stashed changes
}