body{
    background-color:#293a80;
}

.nav-item{
    margin: 0px 20px 0px 20px;
    color: #fff;
}

.nav-link{
    cursor: pointer;
}

.navbar-brand{
    font-size:30px;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

.questions{
    color:white;
}

.logo{
    width: 50px;
    margin: 0px 15px 0px 0px;
}

h1{
    color: #fff;
    font-size: 2em;
    text-align: center;
}

.navbar{
    /* background-color:#f8c901; */
    color: #fff;
}

.title{
    color: #ffdc34;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
}

.p_title {
    color: white;
    font-size: 1em;
    text-align: center;
    font-weight: 200;
}

.section_title{
    color: #ffdc34;
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
}

.section_subtitle {
    color: white;
    font-size: 2em;
    text-align: center;
    font-weight: 200;
}

.sponsor_prop_div {
    background-color: #ffdc34;
    margin: 20px auto;
    border-radius: 20px;
}

.sponsor_prop {
    padding: 50px 0;
    text-align: center;
    font-size: 1em;
    font-weight: 300; 
}

.target{
    width:100%;
    /* border: 1px solid black; */
    background-color: transparent;
    padding: 40px 55px 0px 55px;
    margin:0;
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
}

.card{
    background-color: transparent;
    /* border:white 1px solid; */
    border:none;
    color:white;
    margin:1px 0px 0px 0px;
    border-radius:10px;
}

.card-header{
    background-color: transparent;
    border:none;
    color:white;
    padding:10px;
}

.card-body{
    background-color: transparent;
    border:none;
    color:white;
    padding:0px 45px 5px 45px;
}

.about_us{
    text-align: center;
    color: #fff;
}

.about_us_p {
    font-family: 'Titillium Web', sans-serif;
}

hr{
    background-color:white;
    width: 90%;
    height:1px;
}

.sponsor-logos{
    /* border: 3px solid red; */
    display:flex;
    flex-wrap:wrap;
}

.sponsor-logo{
    flex:1;
    width: 200px;
    /* border:3px solid green; */
    margin: 15px 20px 15px 20px;
}
